<div class="container">
  <h1>
    Somethin just ain't right here...
  </h1>
  <h2>
    <? if (typeof data!== 'undefined') { ?>
      <?= data ?>
        <? } else { ?>
          The page you were trying to reach doesn't exist.
          <? } ?>
  </h2>
</div>