<div class="container">
  <h1>
    Internal Server Error
  </h1>
  <h2>
    I have a terrible feeling something bad happened...
  </h2>
  <? if (typeof data !== 'undefined') { ?>
    <pre class="text-warn"><code>
          <?- data ?>
        </code></pre>
    <? } else { ?>
      <p class="text-warn">
        A team of highly trained *cough* college students are working on the problem, or taking a nap.<br/> If the problem persists, please go cry about it until something is done to fix the issue.
      </p>
      <? } ?>
</div>