<!--<div class="container">
  <h1 class="page-header">Welcome to RateMyBill!</h1>
  <h3>Welcome to the future landing page of a really sweet project where you'll be able to discuss current (and past) legislation being reviewed by the state of Utah.</h3>
  <p class="lead">If you really feel the need, you can <a href="https://github.com/darksinge/ratemybill-site">view the source code of this website on github</a>.</p>
  <p class="lead">Additionally, the <a href="https://github.com/darksinge/IR-legislation-cs4320_sp17">source code for our data collection and algorithms</a> is also hosted on <a href="https://github.com">github</a>.</p>
</div>-->