body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.feature-card {
    min-height: 200px;
}
.feature-card img {
    height: 200px;
}
a.force-hover:hover {
    cursor: pointer !important;
}
.md-padding {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.md-padding p {
    margin: 0;
}
.md-margin {
    margin: 8px;
}