body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.feature-card {
    min-height: 200px;
}
.feature-card img {
    height: 200px;
}
a.force-hover:hover {
    cursor: pointer !important;
}